name: 'Continuous Integration Build'

on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: "Build and run tests"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Build Project
      run: dotnet build --configuration Release

    - name: Run Tests
      run: dotnet test --no-build --configuration Release --verbosity normal --logger "trx;LogFileName=test-results.trx" --collect:"XPlat Code Coverage"

    - name: Codecov
      uses: codecov/codecov-action@v5

    - name: ReportGenerator
      uses: danielpalme/ReportGenerator-GitHub-Action@5.5.1
      with:
        reports: Functions.Tests/TestResults/**/coverage.cobertura.xml
        targetdir: 'coveragereport' # REQUIRED # The directory where the generated report should be saved.
        reporttypes: 'HtmlInline;Cobertura' # The output formats and scope (separated by semicolon) Values: Badges, Clover, Cobertura, CsvSummary, Html, HtmlChart, HtmlInline, HtmlInline_AzurePipelines, HtmlInline_AzurePipelines_Dark, HtmlSummary, JsonSummary, Latex, LatexSummary, lcov, MHtml, PngChart, SonarQube, TeamCitySummary, TextSummary, Xml, XmlSummary
        assemblyfilters: '+*' # Optional list of assemblies that should be included or excluded in the report. Exclusion filters take precedence over inclusion filters. Wildcards are allowed.
        classfilters: '+*' # Optional list of classes that should be included or excluded in the report. Exclusion filters take precedence over inclusion filters. Wildcards are allowed.
        filefilters: '+*' # Optional list of files that should be included or excluded in the report. Exclusion filters take precedence over inclusion filters. Wildcards are allowed.
        verbosity: 'Info' # The verbosity level of the log messages. Values: Verbose, Info, Warning, Error, Off
        tag: '${{ github.run_number }}_${{ github.run_id }}' # Optional tag or build version.
        toolpath: 'reportgeneratortool' # Default directory for installing the dotnet tool.

    - name: Upload coverage report artifact
      uses: actions/upload-artifact@v5
      with:
        name: CoverageReport # Artifact name
        path: coveragereport # Directory containing files to upload

    - name: Upload Test Results
      uses: actions/upload-artifact@v5  # upload test results
      if: always()                      # always run this step
      with:
        name: test-results
        path: Functions.Tests/TestResults/test-results.trx
