name: Deploy Azure function to Azure Function App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: dev
    steps:
    - uses: actions/checkout@v5

    - name: Build Function
      run: dotnet publish ./Functions/HaveIBeenPwned.PwnedPasswords.csproj --configuration Release -r win-x86 --output ./output

    - name: Deploy Function to Azure
      uses: Azure/functions-action@v1
      with:
        app-name: 'pwnedpasswords-dev'
        package: './output'
        publish-profile: ${{ secrets.AZURE_FUNCTION_PUBLISH_PROFILE }}
